*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f3f16b7c;
    font-family: 'Kanit', sans-serif;
}

h2{
    font-weight: 500;
    font-size: 3rem;
    padding: 20px 0px 10px 0px;
    color: #402E2A;
    text-align: center;
}

.main, .info{  
    padding: 1.5rem 3.5rem;
    text-align: justify;
    font-weight: 300;
    font-size: 1.2rem;
    color: #684551;
}

span{
    font-weight: 400;
    font-size: 25px;
    color: #CEA0AE;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 0rem;
    padding-bottom: 100px;
}

button{
    width: 170px;
    height: 8vh;
    border-radius: 10rem;
    font-size: 2rem;
    text-transform: capitalize;
    font-family: Kanit, sans-serif;
    font-weight: 600;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: blueviolet;
}

form{
    display: flex;
    flex-direction: column;
    padding: 0rem 3.5rem;
}

label{
    font-size: 20px;
    font-weight: 400;
    padding-top: 20px;
}

input{
    font-size: 15px;
    display: flow-root;
    padding: 5px 0px 5px 10px;
    border-radius: 12px;
}

input[type='submit']{
    border-radius: 2rem;
    font-size: 20px;
    width: 10rem;
    font-family: Kanit, sans-serif;
    font-weight: 400;
    cursor: pointer;
}

.info{
    display: flex;
    font-weight: 400;
    font-size: 20px;
    color: #684551;
    flex-wrap: nowrap;
    /* align-content: center; */
    flex-direction: column;
    align-items: center;
}

.footer{
    text-align: center;
}
