{% extends 'base.html' %}

{% block main %}
    
<div class="main"><span>Bill Splitter</span> &ThinSpace; is a user-friendly web application designed to simplify the process of splitting bills among flatmates. With this intuitive tool, managing shared expenses becomes effortless and ensures fair and accurate calculations. <br><br>

This convenient tool eliminates the need for manual calculations and minimizes conflicts or misunderstandings regarding financial contributions. "Bill Splitter" ensures transparency and accuracy, making it simple to track expenses and determine each individual's owed amount. <br><br>

The "Bill Splitter" app not only saves time and effort but also fosters harmony and accountability among flatmates. Say goodbye to tedious bill-splitting discussions and hello to seamless expense management with the user-friendly Bill Splitter web app. </div>

<div class="btn"><a href="{{ url_for('BillFormPage')}}"><button>Split it</button></a></div>

{% endblock %}

